.account {
  padding: 3rem 4rem;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, rgba(71, 118, 230, 1), rgba(142, 84, 233, 1)) border-box;
  border-radius: 3rem;
  border: 2px solid transparent;

  &-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__login-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: $gapSmall;
    margin-bottom: 1.8rem;
  }

  &__label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 18rem;
  }

  &__input {
    width: 100%;
    border: 1px solid $colorGray;
    border-radius: $borderRadius;
  }

  &__btn {
    width: 100%;
    padding: 0.875rem 1.5rem;
    color: $colorWhite;
    font: 400 0.875rem 'Noto Sans', sans-serif;
    border-radius: 0.4375rem;
    background: $colorBlue;
  }

  .just-validate-error-label {
    font-size: 0.875rem;
  }
}