.change-rates {
  grid-area: change-rates;
  height: 100%;
  padding: 40px 50px;
  background-color: $colorWhite;
  border-radius: $borderRadiusMain;
  box-shadow: $shadow;
  
  &__content {
    max-height: 760px;
    height: 100%;
    overflow-y: auto;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    gap: 10px;
    grid-auto-rows: max-content;
    padding-right: 10px;
  }

  &__item {
    list-style: none;
  }

  &-param {
    padding-right: 24px;

    &__value {
      float: right;
      padding-left: .2em;
    }

    &__prop {
      position: relative;
      display: block;
      overflow: hidden;
      font-weight: 600;

      &::after {
        content: '';
        position: absolute;
        margin-left: .3em;
        bottom: .35em;
        width: 100%;
        border-bottom: .1em dotted;
      }
    }
  }

  &-param.green {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 6px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 12px solid $colorGreen;
    }

    .change-rates-param__prop {
      &::after {
        border-color: $colorGreen;
      }
    }
  }

  &-param.red {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 6px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 12px solid $colorRed;
    }

    .change-rates-param__prop {
      &::after {
        border-color: $colorRed;
      }
    }
  }
}