.currency {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr minmax(250px, auto);
  grid-template-areas: 
                "your-currencies change-rates"
                "your-currencies change-rates"
                "exchange        change-rates";
  grid-gap: 40px;

  &-title {
    margin-bottom: 50px;
  }

  .your-currencies {
    grid-area: your-currencies;
    padding: 40px 50px;
    border-radius: $borderRadiusMain;
    box-shadow: $shadow;

    &__title {
      margin-bottom: 30px;
    }

    &__list {
      gap: 10px;
      display: grid;
      grid-auto-rows: max-content;
    }

    &-param {
      &__value {
        float: right;
	      padding-left: .2em;
      }

      &__prop {
        position: relative;
        display: block;
        overflow: hidden;
        font-weight: 600;

        &::after {
          content: '';
          position: absolute;
          margin-left: .3em;
          bottom: .35em;
          width: 100%;
          border-bottom: .1em dotted;
        }
      }
    }
  }
}