.header {
  background: $gradientMain;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
  }

  &__logo {
    fill: white;
    font-size: 0;
  }
  
  &__nav {
    display: flex;
    gap: 2rem;
  }

  &__btn {
    padding: 0.5rem 1.5rem;
    // color: $colorBlack;
    color: $colorMenu;
    background-color: $colorWhite;
    border-radius: 0.5rem;
  }
}