// COLORS
$colorWhite: #fff;
$colorBlack: #171717;
$colorGray: #BEC4CF;
$colorBlue: #4875E6;

// GRADIENTS
$gradientMain: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);

// GAP
$gapSmall: 1.5rem;
$gap: 2rem;

// BORDER-RADIUS
$borderRadius: 7px;

// MEDIA SIZES
$sizes: ("xs":320px, "sm":480px, "md":576px, "lg":768px, "xl":1024px);